<footer class="b_site_footer">
        <div class="container">
          <div class="row">
            <div class="logo col-sm-2"><a href="#"><img src="{{site.baseurl}}/img/logo.png" alt="9project логотип"></a></div>
            <div class="footer_widget col-sm-3">
              <h4 class="footer_widget__title">Twitter feed</h4>
            </div>
            <!--Footer widget-->
            <div class="footer_widget col-sm-3">
              <h4 class="footer_widget__title">Услуги</h4>
              <ul class="footer_links no-list">
                <li class="footer_links__item"><a href="#">Создание сайтов            </a></li>
                <li class="footer_links__item"><a href="#">Контекстная реклама            </a></li>
                <li class="footer_links__item"><a href="#">SEO продвижение сайтов            </a></li>
                <li class="footer_links__item"><a href="#">Брендинг и айдентика      </a></li>
              </ul>
            </div>
            <!--Footer widget                -->
            <div class="footer_widget col-sm-2">
              <h4 class="footer_widget__title">Портфолио</h4>
              <ul class="footer_links no-list">
                <li class="footer_links__item"><a href="#">Все порфтолио            </a></li>
                <li class="footer_links__item"><a href="#">Создание сайтов            </a></li>
                <li class="footer_links__item"><a href="#">Продвижение сайтов            </a></li>
                <li class="footer_links__item"><a href="#">Брендинг и айдентика        </a></li>
              </ul>
            </div>
            <!--Footer widget                -->
            <div class="footer_widget col-sm-2">
              <h4 class="footer_widget__title">Агентство</h4>
              <ul class="footer_links no-list">
                <li class="footer_links__item"><a href="#">О нас            </a></li>
                <li class="footer_links__item"><a href="#">Отзывы            </a></li>
                <li class="footer_links__item"><a href="#">Блог            </a></li>
                <li class="footer_links__item"><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div class="b_site_footer__copy">
            <div class="row">
              <div class="col-sm-8">
                <p>Студия разработки и продвижения сайтов - NineProject. © 2015. hello@nineproject.org</p>
              </div>
              <div class="col-sm-4">
                <ul class="no-list social_links">
                  <li class="social_links__item">
                    <p>Присоединяйтесь к нам: </p>
                  </li>
                  <li class="social_links__item"><a href="#"><span class="icon icon-vk">           </span></a></li>
                  <li class="social_links__item"><a href="#"><span class="icon icon-tw">           </span></a></li>
                  <li class="social_links__item"><a href="#"><span class="icon icon-fb">           </span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--Build mobile menu-->
      <div class="overlay">
        <div class="wrap">
          <ul class="wrap-nav">            
            <li class="mobile_nav_subtitle">Услуги                    
              <ul>
                <li><a href="#">Создание сайтов                      </a></li>
                <li><a href="#">Контекстная реклама                         </a></li>
                <li><a href="#">SEO продвижение                  </a></li>
                <li><a href="#">Брендинг и айдентика              </a></li>
              </ul>
            </li>
            <li class="mobile_nav_subtitle">Об агентстве                    
              <ul>
                <li><a href="#">Портфолио                      </a></li>
                <li><a href="#">О нас                         </a></li>
                <li><a href="#">Блог                   </a></li>
                <li><a href="#">Контакты               </a></li>
              </ul>
            </li>
            <li class="mobile_nav_subtitle">Связаться с нами                    
              <ul class="connect_from_mobile">
                <li><a href="tel:(812)600-25-25" class="btn btn-default btn-block"> <span class="icon phone-icon"> </span>Позвонить нам                      </a></li>
                <li><a href="mailto:hello@9project.org?subject=Запрос коммерческого предложения" class="btn btn-default btn-block"> <span class="icon mail-icon"></span>Написать на email                                                 </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="{{site.baseurl}}/js/jquery-2.1.4.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery.flexslider-min.js"></script>
    <script src="{{site.baseurl}}/js/wow.min.js"> </script>    
    <script src="{{site.baseurl}}/js/app.min.js"> </script>
  </body>
</html>
