<div id="b_page">
      <header class="b_site_header">
        <div class="container">
          <!-- Logo-->
          <div class="b_site_header__logo col-sm-3"><a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/img/logo.png" alt="9project логотип"></a></div>
          <!-- Nav block-->
          <div class="b_site_header__navblock col-sm-9 hidden-sm hidden-xs">
            <div class="navblock__info_shell">
              <!--Subanvigation-->
              <div class="info_shell__subnav">
                <ul class="subnavigation">
                  <li class="subnavigation__item"><a href="{{site.baseurl}}/portfolio">Портфолио</a></li>
                  <li class="subnavigation__item"><a href="{{site.baseurl}}/reviews">Отзывы                </a></li>
                  <li class="subnavigation__item"><a href="{{site.baseurl}}/about">Об агентстве</a></li>
                  <li class="subnavigation__item"><a href="{{site.baseurl}}/blog">Блог                  </a></li>
                  <li class="subnavigation__item"><a href="{{site.baseurl}}/contacts">Контакты</a></li>
                </ul>
              </div>
              <!--Contacts-->
              <div class="info_shell__contact_phone">
                <ul class="contact_phone__connect_us">
                  <li><span class="contact_phone__number"><strong>(812)600-25-25                     </strong></span></li>
                  <li><a href="#" data-toggle="modal" data-target="#backCall" class="dashed_link">Заказать звонок</a>
                    <div id="backCall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
                      <div role="document" class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>        
                            <h4 id="myModalLabel" class="modal-title">Заказать обратный звонок</h4>
                          </div>      
                          <div class="modal-body">CF7 should be there =D</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!--Primary nav-->
            <div class="navblock__site_main_nav">
              <nav id="nav-main">
                <ul class="main_nav">
                  <li class="main_nav__item"><a href="{{site.baseurl}}/web-development">Создание сайтов              </a></li>
                  <li class="main_nav__item"><a href="{{site.baseurl}}/context">Контекстная реклама              </a></li>
                  <li class="main_nav__item"><a href="{{site.baseurl}}/seo">SEO продвижение              </a></li>
                  <li class="main_nav__item"><a href="{{site.baseurl}}/branding-services">Брендинг и айдентика</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="button hidden-md hidden-lg"><a href="#"><img src="{{site.baseurl}}/img/menu.svg" alt="Мобильное меню" class="btn-open"><img src="{{site.baseurl}}/img/close.svg" alt="Закрыть мобильное меню" class="btn-close"></a></div>
      </header>