@font-face {
	font-family:'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular_gdi.eot');
	src: url('../fonts/ProximaNova-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular_gdi.woff') format('woff'),
		url('../fonts/ProximaNova-Regular_gdi.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular_gdi.svg#ProximaNova-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold_gdi.eot');
	src: url('../fonts/ProximaNova-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold_gdi.woff') format('woff'),
		url('../fonts/ProximaNova-Bold_gdi.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold_gdi.svg#ProximaNova-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

@font-face {
	font-family:'ProximaNovaT-Thin';
	src: url('../fonts/ProximaNovaT-Thin_gdi.eot');
	src: url('../fonts/ProximaNovaT-Thin_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaT-Thin_gdi.woff') format('woff'),
		url('../fonts/ProximaNovaT-Thin_gdi.ttf') format('truetype'),
		url('../fonts/ProximaNovaT-Thin_gdi.svg#ProximaNovaT-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2666;
}

// Links styles

.dashed_link{
	border-bottom: 1px dashed;
	&:hover{
		text-decoration: none;
	}
}

.text_link{
	color: $maindark;
}

// Body Links


//Headings

.white{
	color: #FFF;
}

.blue{
	color: $blue;
}

.super_hero_title{
	font-size: 48px;
}

.page_section__title{
	position: relative;
	h3{
		padding-top: 1.8em;
		padding-bottom: 1.8em;
		margin: 0;
		font-family: $proximathin;
		color: #000;
		font-weight: 100;
	}
	text-transform: uppercase;
	&:after{
		position: absolute;
		left: 47%;
		top: 30px;
		content: '';
		display: block;
		@extend .icon-title;
		margin: 0 auto;
	}
}

.page_title{
	font-size: 24px;
	margin: 0;
	font-family: $proximareg;
	font-weight: 400;
}

//Paragraphs
.small-text{
	font-size: 12px;
}

.text-reg{
	font-family: $proximareg;
	font-weight: 400;
}

//Helpers
.text-thin{
	font-family: $proximathin;
	font-weight: 100;
}

// Other
.promo_phone{
	font-family: $proximabold;
	font-size: 24px;
}