$darkgray: #8b8b8b;
$darkgray-lighter:            lighten($darkgray, 15%);
$proximabold: "ProximaNova-Bold";
$proximathin: "ProximaNovaT-Thin";
$proximareg: "ProximaNova-Regular";
$blue: #44a5ff;
$blue-ligther: lighten($blue, 15%);
$blue-darker: darken($blue, 15%);
$maindark: #353535;
$corporate: #063382;
$landing: #df552a;
$store: #3e9e5b;