<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main id="content">
      <div class="maxcnt">
        {{ content }}
        <div class="bottom_promo">
          <div class="bottom_promo__content">
            <div class="container">
              <div class="col-md-10 col-md-offset-2 white">
                <h4 class="no_margin_top">Планируете свой проект?</h4>
                <p>Закажите коммерческое предложение уже сейчас - <span class="promo_phone">(812) 600-25-25</span> или <a href="#">оставьте заявку</a> !</p>
              </div>
            </div>
          </div>  
        </div>        
      </div>  
    </main>

    {% include footer.html %}

  </body>

</html>
